<!--Main Navigation-->
<header class="" style="background: linear-gradient(135deg, #2c3e50, #3498db);">
    <!-- Jumbotron -->
    <div class="p-3 text-center border-bottom">
        <div class="container">
            <div class="row gy-3">
                <!-- Left elements -->
                <div class="col-lg-2 col-sm-4 col-4">
                    <a routerLinkActive="/" class="float-start">
                        <img src="../../assets/images/Designer.png" class="rounded-5" height="60" />
                    </a>
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <div class="order-lg-last col-lg-5 col-sm-2 col-lg-2 justify-content-end">
                    <div class="d-flex float-end">
                        <a routerLink="/signin"
                            class="me-1 border rounded py-1 px-3 d-flex align-items-center btn btn-outline-primary">
                            <i class="fas fa-user-alt m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">Sign in</p>
                        </a>
                        <a routerLink="/wishlist"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                                class="fas fa-heart m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">Wishlist</p>
                        </a>
                        <a routerLink="/checkout" class="border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                                class="fas fa-shopping-cart m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0">My cart</p>
                        </a>
                    </div>
                    <app-heart-switch class="m-3 p-2 justify-content-end" />
                </div>
                <!-- Center elements -->

                <!-- Right elements -->
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="input-group float-center">
                        <div class="form-outline">
                            <input type="search" id="form1" placeholder="Search....." class="form-control" />
                        </div>
                        <button type="button" class="btn btn-primary shadow-0">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Container wrapper -->
        <div class="container justify-content-center justify-content-md-between">
            <!-- Toggle button -->
            <button class="navbar-toggler border py-2 " type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLink="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/signup">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="#">Hot offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="#">Gift boxes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="#">Menu item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="#">Menu name</a>
                    </li>
                    <!-- Navbar dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " routerLink="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Others
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="#">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <app-carousel ></app-carousel>
    <!-- Jumbotron -->
    <div class="bg-primary text-white py-5" style="background: linear-gradient(135deg, #2c3e50, #2980b9, #56a5ec, #a0d8f1);
">
        <div class="container py-5">
            <h1>
                Best products & <br />
                brands in our store
            </h1>
            <p>
                Trendy Products, Factory Prices, Excellent Service
            </p>
            <button type="button" class="btn btn-outline-light">
                Learn more
            </button>
            <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
                <span class="pt-1">Purchase now</span>
            </button>
        </div>
    </div>
    <!-- Jumbotron -->
</header>