<header>

    <!-- Heading -->
    <div class="bg-primary">
        <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
                <h6 class="mb-0">
                    <a routerLink="/" class="text-white-50">H O M E</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a routerLinkActive="/signup" class="text-white-50">S I G N U P</a>
                </h6>
            </nav>
            <!-- Breadcrumb -->
        </div>
    </div>
    <!-- Heading -->
</header>

<section class="bg-light py-5 bg-dark">
    <div class="container">
        <div class="col-xl-12 col-lg-12 mb-4">
            <div class="card mb-4 border shadow-0">
                <div class="p-4 d-flex justify-content-between">
                    <div class="">
                        <h5>Have an account?</h5>
                        <p class="mb-0 text-wrap ">Unlock a world of possibilities with our community.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                        <a routerLinkActive="/signup"
                            class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Register</a>
                        <a routerLink="/signin" class="btn btn-primary shadow-0 text-nowrap w-100">Sign in</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex align-items-center">
                <div class="avatar-wrapper">
                    <img src="../../assets/images/Designer.png" alt="Avatar" class="avatar-img">
                </div>
            </div>
            <div class="col-9">
                <div class="card shadow-2 border">
                    <div class="p-4">
                        <h3 class="card-title mb-5">Sign Up</h3>
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-person"></i></span>
                                        <input type="text" class="form-control" placeholder="First name"
                                            formControlName="firstName">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-person"></i></span>
                                        <input type="text" class="form-control" placeholder="Last name"
                                            formControlName="lastName">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-at"></i></span>
                                        <input type="text" class="form-control" placeholder="Username"
                                            formControlName="username">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-telephone"></i></span>
                                        <input type="tel" class="form-control" placeholder="Phone"
                                            formControlName="phoneNumber">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-envelope"></i></span>
                                        <input type="email" class="form-control" placeholder="Email"
                                            formControlName="email">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-calendar"></i></span>
                                        <input type="date" class="form-control" placeholder="Date of Birth"
                                            formControlName="dateOfBirth">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password"
                                            formControlName="password">
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text text-light bg-dark"><i
                                                class="bi bi-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            formControlName="confirmPassword">
                                    </div>
                                    <!-- Display error message if passwords don't match -->
                                    <div *ngIf="signupForm.get('confirmPassword')?.hasError('passwordsNotMatch')"
                                        class="text-danger">
                                        Passwords do not match.
                                    </div>
                                </div>

                                <div formGroupName="address">
                                    <div class="col-12 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text text-light bg-dark"><i
                                                    class="bi bi-house"></i></span>
                                            <input type="text" class="form-control" placeholder="Address"
                                                formControlName="street">
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text text-light bg-dark"><i
                                                    class="bi bi-geo-alt"></i></span>
                                            <input type="text" class="form-control" placeholder="City"
                                                formControlName="city">
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text text-light bg-dark"><i
                                                    class="bi bi-flag"></i></span>
                                            <input type="text" class="form-control" placeholder="State"
                                                formControlName="state">
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text text-light bg-dark"><i
                                                    class="bi bi-globe"></i></span>
                                            <input type="text" class="form-control" placeholder="Country"
                                                formControlName="country">
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text text-light bg-dark"><i
                                                    class="bi bi-geo-alt"></i></span>
                                            <input type="text" class="form-control" placeholder="Postal Code"
                                                formControlName="postalCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="newsletter"
                                            formControlName="newsletter">
                                        <label class="form-check-label" for="newsletter">Keep me up to date on
                                            news</label>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Signup Form -->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<!-- Footer -->