<header>
    <!-- Heading -->
    <div class="bg-primary" style="">
        <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
                <h6 class="mb-0">
                    <a routerLink="/" class="text-white-50">H O M E</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a routerLinkActive="/checkout" class="text-white-50">C H E C K O U T</a>
                </h6>
            </nav>
            <!-- Breadcrumb -->
        </div>
    </div>
    <!-- Heading -->
</header>
<section class="bg-dark">
    <div class="container py-5">
        <h1 class="text-mute">Y O U R &nbsp;&nbsp;C A R T</h1>
        <div class="row d-flex justify-content-center align-item-center">
            <div class="col">

                <!-- Shopping Bag bagItemss -->
                <div class="row mb-4">
                    <div class="row mb-4 rounded-4 p-2 custom-card" *ngFor="let item of bagItems">
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                <img [src]="item.imageUrl" class="" style="width: 80%;" alt="Product Image" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                </a>
                            </div>
                            <!-- Image -->
                        </div>

                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 mt-3">
                            <!-- Data -->
                            <h2 class=""><strong>{{ item.name }}</strong></h2>
                            <p>Color: {{ item.color }}</p>
                            <p>Size: {{ item.size }}</p>

                            <!-- Action buttons -->
                            <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                title="Remove item">
                                <i class="fas fa-trash"></i> Remove
                            </button>
                            <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                title="Move to the wish list">
                                <i class="fas fa-heart"></i> Add to wishlist
                            </button>
                            <!-- Action buttons -->
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mt-3">
                            <!-- Quantity -->
                            <div class="d-flex mb-4" style="max-width: 300px">
                                <button class="btn btn-primary px-3 me-2" (click)="decreaseQuantity(item)">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <div class="form-outline">
                                    <input id="form1" [min]="1" name="quantity" [value]="item.quantity" type="number"
                                        class="form-control" />
                                    <label class="form-label" for="form1">Quantity</label>
                                </div>

                                <button class="btn btn-primary px-3 ms-2" (click)="increaseQuantity(item)">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- Quantity -->

                            <!-- Price -->
                            <p class="text-start text-md-center">
                                <strong>{{ item.price | currency }}</strong>
                            </p>
                            <!-- Price -->
                        </div>
                    </div>
                </div>

                <!-- Payment Method Section -->
                <div class="card shadow-2-strong mb-5 mb-lg-0 p-2 custom-card" style="border-radius: 16px;">
                    <div class="card-body p-4">

                        <!-- Payment Method Options -->
                        <div class="mb-4">
                            <label class="form-label">Payment Method</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="creditCard"
                                    value="creditCard" checked>
                                <label class="form-check-label" for="creditCard">
                                    Credit Card
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="debitCard"
                                    value="debitCard">
                                <label class="form-check-label" for="debitCard">
                                    Debit Card
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="paypal"
                                    value="paypal">
                                <label class="form-check-label" for="paypal">
                                    PayPal
                                </label>
                            </div>
                        </div>

                        <!-- Payment Form Inputs -->
                        <div class="row">
                            <div class="col">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                        placeholder="John Smith">
                                    <label class="form-label" for="typeName">Name on card</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" id="typeExp" class="form-control form-control-lg"
                                        placeholder="MM/YY" size="7" id="exp" minlength="7" maxlength="7">
                                    <label class="form-label" for="typeExp">Expiration</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                        placeholder="1111 2222 3333 4444" minlength="19" maxlength="19">
                                    <label class="form-label" for="typeText">Card Number</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="password" id="typeText" class="form-control form-control-lg"
                                        placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3">
                                    <label class="form-label" for="typeText">Cvv</label>
                                </div>
                            </div>
                        </div>

                        <!-- Checkout Summary -->
                        <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p class="mb-2">Subtotal</p>
                            <p class="mb-2">{{ subtotal | currency }}</p>
                        </div>
                        <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p class="mb-0">Total (tax included)</p>
                            <p class="mb-0">{{ total | currency }}</p>
                        </div>

                        <!-- Checkout Button -->
                        <button type="button" class="btn btn-primary btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                                <span>Checkout</span>
                                <span>{{ total | currency }}</span>
                            </div>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer />